version: '3.8'

services:
  dztnr:
    container_name: dztnr
    # Uncomment the next line to use a public Docker image
    # image: dztnr:latest
    
    # Uncomment the next line to build the Docker image locally
    # build: .

    environment:
      - NAV_BASE_URL=your_navidrome_server_url
      - NAV_USER=your_navidrome_username
      - NAV_PASS=your_navidrome_password
    volumes:
      - ./logs:/usr/src/app/logs
