version: '3.8'

services:
  sptnr:
    container_name: sptnr
    # Uncomment the next line to use the public Docker image
    # image: krestaino/sptnr:latest
    
    # Uncomment the next line to build the Docker image locally
    # build: .

    environment:
      - NAV_BASE_URL=your_navidrome_server_url
      - NAV_USER=your_navidrome_username
      - NAV_PASS=your_navidrome_password
      - LASTFM_API_KEY=your_lastfm_api_key
    volumes:
      - ./logs:/usr/src/app/logs
